/*
------------------------ =BUTTONS ------------------------ */
.button {
	background-color: #292929;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 100%;
	height: 2em;
	line-height: 2;
	margin: 0;
	overflow: visible;
	padding: 0 0.75em;
	text-align: center;
	text-decoration: none;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
	vertical-align: middle;
	white-space: nowrap;
}
	.button,
	.button:active,
	.button:focus,
	.button:hover,
	.button:visited {
		text-decoration: none;
	}
	.button:focus,
	.button:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
	.button:hover {
		color: #fff;
	}
		a.button:focus,
		a.button:hover {
		}
	.button:active {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
		outline: 0 none;
	}
		.bg-transparent.button:focus,
		.bg-transparent.button:hover,
		.bg-transparent.button:active {
			box-shadow: none;
			outline: 0 none;
		}
	.button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	.button[disabled],
	.button.disabled {
		box-shadow: none;
		color: #777;
		cursor: not-allowed;
		opacity: 0.50;
		text-shadow: none;
	}
		.ie8 .button[disabled],
		.ie8 .button.disabled {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		}
	.button *[data-icon] {
		margin-right: 0.50em;
	}
	
	/* ------------------------ button sizing ------------------------ */
	.button-mini {
		font-size: 0.75rem;
		height: 1.5em;
		line-height: 1.5;
		padding-right: 0.50em;
		padding-left: 0.50em;
		width: auto;
	}
	.button-medium {
		height: 3em;
		line-height: 3;
		padding-right: 1em;
		padding-left: 1em;
		width: auto;
	}
	.button-large {
		height: 4em;
		line-height: 4;
		padding-right: 1.50em;
		padding-left: 1.50em;
		width: auto;
	}
	.button-block {
		display: block;
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
	
	/* ------------------------ button font sizing ------------------------ */
	.button-small-font {
		font-size: 0.75rem;
	}
	.button-normal-font {
		font-size: 1rem;
	}
	.button-large-font {
		font-size: 2rem;
	}
	
	/* ------------------------ button styles ------------------------ */
	.button-hollow {
		background: transparent;
	}
	.button-square {
		border-radius: 0;
	}
	.button-pill {
		border-radius: 5em;
	}
	.button-inline {
		font-size: inherit;
		height: auto;
		line-height: inherit;
		padding-right: 0.50em;
		padding-left: 0.50em;
		vertical-align: baseline;
	}
	
	/* ------------------------ x-small breakpoint ------------------------ */
	@media only screen and (min-width: 480px) {
		.x-small-button-mini {
			font-size: 0.75rem;
			height: 1.5em;
			line-height: 1.5;
			padding-right: 0.50em;
			padding-left: 0.50em;
			width: auto;
		}
		.x-small-button-medium {
			height: 3em;
			line-height: 3;
			padding-right: 1em;
			padding-left: 1em;
			width: auto;
		}
		.x-small-button-large {
			height: 4em;
			line-height: 4;
			padding-right: 1.50em;
			padding-left: 1.50em;
			width: auto;
		}
		.x-small-button-block {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}
	}
	/* ------------------------ small breakpoint ------------------------ */
	@media only screen and (min-width: 640px) {
		.small-button-mini {
			font-size: 0.75rem;
			height: 1.5em;
			line-height: 1.5;
			padding-right: 0.50em;
			padding-left: 0.50em;
			width: auto;
		}
		.small-button-medium {
			height: 3em;
			line-height: 3;
			padding-right: 1em;
			padding-left: 1em;
			width: auto;
		}
		.small-button-large {
			height: 4em;
			line-height: 4;
			padding-right: 1.50em;
			padding-left: 1.50em;
			width: auto;
		}
		.small-button-block {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}
	}
	/* ------------------------ medium breakpoint ------------------------ */
	@media only screen and (min-width: 768px) {
		.medium-button-mini {
			font-size: 0.75rem;
			height: 1.5em;
			line-height: 1.5;
			padding-right: 0.50em;
			padding-left: 0.50em;
			width: auto;
		}
		.medium-button-medium {
			height: 3em;
			line-height: 3;
			padding-right: 1em;
			padding-left: 1em;
			width: auto;
		}
		.medium-button-large {
			height: 4em;
			line-height: 4;
			padding-right: 1.50em;
			padding-left: 1.50em;
			width: auto;
		}
		.medium-button-block {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}
	}
	/* ------------------------ large breakpoint ------------------------ */
	@media only screen and (min-width: 960px) {
		.large-button-mini {
			font-size: 0.75rem;
			height: 1.5em;
			line-height: 1.5;
			padding-right: 0.50em;
			padding-left: 0.50em;
			width: auto;
		}
		.large-button-medium {
			height: 3em;
			line-height: 3;
			padding-right: 1em;
			padding-left: 1em;
			width: auto;
		}
		.large-button-large {
			height: 4em;
			line-height: 4;
			padding-right: 1.50em;
			padding-left: 1.50em;
			width: auto;
		}
		.large-button-block {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}
	}
	/* ------------------------ x-large breakpoint ------------------------ */
	@media only screen and (min-width: 1170px) {
		.x-large-button-mini {
			font-size: 0.75rem;
			height: 1.5em;
			line-height: 1.5;
			padding-right: 0.50em;
			padding-left: 0.50em;
			width: auto;
		}
		.x-large-button-medium {
			height: 3em;
			line-height: 3;
			padding-right: 1em;
			padding-left: 1em;
			width: auto;
		}
		.x-large-button-large {
			height: 4em;
			line-height: 4;
			padding-right: 1.50em;
			padding-left: 1.50em;
			width: auto;
		}
		.x-large-button-block {
			display: block;
			padding-right: 0;
			padding-left: 0;
			width: 100%;
		}
	}
